.basket {
    background: darkslategrey;
    color: white;
    display: block;
    left: 30%;
    margin: auto;
    position: absolute;
    top: 30%;
    width: 40%;
}

.hidden {
    display: hidden;

}

.basket-item {
    position: relative;
}